<div class="relative">
    <button id="<%= id %>" data-dropdown-toggle="dropdown" class="text-white bg-accent-700 hover:bg-accent-800 focus:ring-4 focus:outline-none focus:ring-accent-300 font-medium rounded-lg text-md px-5 py-1.5 text-center inline-flex items-center dark:bg-accent-600 dark:hover:bg-accent-700 dark:focus:ring-accent-800" type="button">
        <%= text %><svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
        </svg>
    </button>

    <!-- Dropdown menu -->
    <div class="dropdown z-10 right-0 absolute hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
            <% if(typeof choices !== 'undefined') { %>
            <% for(const choice of choices) { %>
            <li>
                <a href="<%= choice.href %>" class="block px-4 py-2 font-semibold hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" onclick="<%= choice.click %>"><%= choice.text %></a>
            </li>
            <% } %>
            <% } %>

            <% if(typeof forms !== 'undefined') { %>
            <% for(const form of forms) { %>
            <li>
                <form action="<%= form.action %>" method="<%= form.method %>" class="w-full">
                    <button type="submit" class="w-full block px-4 py-2 font-semibold hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"><%= form.text %></a>
                </form>
            </li>
            <% } %>
            <% } %>
        </ul>
    </div>
</div>

<script>
    const receivedIdDom = document.getElementById("<%= id %>");

    receivedIdDom.addEventListener("click", (event) => {
        const dropdown = event.target.nextElementSibling;

        if (!dropdown.classList.contains("dropdown")) return;

        if (dropdown.classList.contains("hidden"))
            dropdown.classList.remove("hidden");
        else dropdown.classList.add("hidden");
    });

    receivedIdDom.addEventListener("focusout", (event) => {
        // console.log(event.currentTarget.parentNode);
        if (event.currentTarget.parentNode.contains(event.relatedTarget))
            return;

        const dropdown = event.target.nextElementSibling;

        if (!dropdown.classList.contains("dropdown")) return;

        if (!dropdown.classList.contains("hidden"))
            dropdown.classList.add("hidden");
    });
</script>