<div class="p-5 m-10 rounded-lg shadow-inner flex gap-3 bg-gradient-to-br from-primary-700 to-primary-900">
    <% if(typeof userProfile !== 'undefined') { %>
    <div><img class="rounded-md" src="<%= userProfile.profilePicture %>" alt="Profile Picture"></div>
    <div class="w-full flex flex-col gap-2">
        <%- include('./data-row', { columnName: "Username", columnText: userProfile.username }) %>
        <%- include('./data-row', { columnName: "Email", columnText: userProfile.email }) %>
        <%- include('./data-row', { columnName: "Date of birth", columnText: userProfile.birthDate }) %>
        <%- include('./data-row', { columnName: "Posted threads:", columnText: userProfile.postsCount }) %>
        <%- include('./data-row', { columnName: "Comments", columnText: userProfile.commentsCount }) %>
        <div class="grid grid-cols-5">
            <div class="col-span-1 text-green-500 font-semibold">
                <%- include('../../components/general/fetch/like-button.ejs', { onclick: `handleLiking('/api/user/like/${userProfile._id}', 1)`, likeCount: userProfile.likes }) %>
            </div>
            <div class="col-span-1 text-red-500 font-semibold">
                <%- include('../../components/general/fetch/dislike-button.ejs', { onclick: `handleLiking('/api/user/dislike/${userProfile._id}', 1)`, dislikeCount: userProfile.dislikes }) %>
            </div>
        </div>
    </div>
    <% } %>
</div>